
body{
    background:rgba(31, 161, 237, 0.899);
    font:normal 15pt Arial;
}

header{
    color: white;
    text-align:center;
}

section{
    border-radius:10px;
    background:rgb(247, 247, 247);
    padding: 15px;
    width: 500px;
    margin:auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

#fotos{
    width: 250px;
    height: 250px;
    border-radius:50%;
    margin-left: 25%;
}

footer{
    text-align:center;
    font-style:italic;
    color:white;
}